body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.fit-img{
    object-fit: cover;
}

.image-container{
  overflow: hidden;
}

.img-transition{
   transition: transform 0.3s ease;
}

.img-transition:hover {
  transform: scale(1.05);
}