body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.video-section {
  height: 400px;
  overflow: hidden;
}

.card-img {
  transition: transform 300ms ease;
  p {
    transition: 300ms;
  }
}

.card-img:hover {
  transform: scale(1.05);
  cursor: pointer;
  p {
    font-weight: bolder;
  }
}
.item-galeria {
  overflow: hidden;
}
.img-scale {
  transition: 500ms;
}

.img-scale:hover {
  transform: scale(1.2);
}

.itemOpacidad {
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
}

.itemOpacidad:hover {
  opacity: 1;
  cursor: pointer;
}
.parrafoEscalado {
  animation: escalar 3s ease infinite;
}
@keyframes escalar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.fit-img{
    object-fit: cover;
}

.image-container{
  overflow: hidden;
}

.img-transition{
   transition: transform 0.3s ease;
}

.img-transition:hover {
  transform: scale(1.05);
}
